@import "./variables";

.history {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;

  .v-sheet--tile {
    border-radius: 1.75rem !important;
    padding: 1rem;
    font-size: 1.25rem;
  }
}

.history-element {
  border: 2px solid $primary;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;

  p {
    margin-bottom: 0.125rem;
  }
}

.history-locked {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    text-align: center;
  }
}

.history-element-header {
  font-size: 1.25rem;
  text-align: center;
}

.v-expansion-panel {
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
}

.v-expansion-panel--active + .v-expansion-panel {
  border-radius: 1.5rem !important;
}

.v-expansion-panel--active {
  border-radius: 1.5rem !important;
}

.theme--light.v-expansion-panels .v-expansion-panel:not(:first-child)::after {
  border: 0 !important;
}
