.start-learning-bg {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
